/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
.front17-sprite, .front17-apache, .front17-arr_left, .bx-wrapper .bx-prev, .front17-arr_right, .bx-wrapper .bx-next, .front17-arrows1, .front17-calling, .front17-dev_oauth_badge, .front17-duo, .front17-feitian, .front17-gluu_icon1, .front17-gluu_server, .front17-hyperfido, .front17-js, .front17-mfa, .front17-nginx, .front17-openid, .front17-openid_green3, .front17-super_gluu, .front17-super_gluu_green, .front17-super_gluu_mobile, .front17-super_gluu_white, .front17-vasco, .front17-yubikey {
  background-image: url('../images/front17-sbaec39f5ab.png');
  background-repeat: no-repeat;
}

.front17-apache {
  background-position: 0 -838px;
}

.front17-arr_left, .bx-wrapper .bx-prev {
  background-position: -23px -798px;
}

.front17-arr_right, .bx-wrapper .bx-next {
  background-position: -47px -758px;
}

.front17-arrows1 {
  background-position: -71px -713px;
}

.front17-calling {
  background-position: -117px -663px;
}

.front17-dev_oauth_badge {
  background-position: -146px -623px;
}

.front17-duo {
  background-position: -186px -604px;
}

.front17-feitian {
  background-position: -246px -585px;
}

.front17-gluu_icon1 {
  background-position: -324px -545px;
}

.front17-gluu_server {
  background-position: -359px -495px;
}

.front17-hyperfido {
  background-position: -403px -455px;
}

.front17-js {
  background-position: -442px -415px;
}

.front17-mfa {
  background-position: -478px -375px;
}

.front17-nginx {
  background-position: -518px -335px;
}

.front17-openid {
  background-position: -568px -285px;
}

.front17-openid_green3 {
  background-position: -622px -240px;
}

.front17-super_gluu {
  background-position: -667px -195px;
}

.front17-super_gluu_green {
  background-position: -789px -150px;
}

.front17-super_gluu_mobile {
  background-position: -911px -105px;
}

.front17-super_gluu_white {
  background-position: -956px -53px;
}

.front17-vasco {
  background-position: -1001px -40px;
}

.front17-yubikey {
  background-position: -1131px 0;
}
