/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
.general-sprite, .general-app_integrat_icon, .general-articles_icon, .general-benchmarking_icon, .general-bullet_icon, .general-calendar_curious_blue, .general-calendar_ocean_green, .general-calendar_purple_mountain, .general-calendar_supernova, .general-calendar_tacao, .general-checkmark_bullet, .general-chevron, .general-chevron_xs, .general-clock_icon, .general-contactus_icon, .general-contribute_icon, .general-data_sheets_icon, .general-deploy_icon, .general-design_customiz_icon, .general-docs_icon, .general-down_arrow_icon, .general-events_icon, .general-gluu_right_arrow_icon, .general-latest_videos_icon, .general-leadership_icon, .general-leadership_social_in, .general-leadership_social_mail, .general-leadership_social_tw, .general-license_icon, .general-managed_service_icon, .general-media_relations_icon, .general-onsite_training_icon, .general-our_story_icon, .general-phone_icon_lg, .general-press_releases_icon, .general-reasons_bullet, .general-resources_icon, .general-round_bullit, .general-services_aa_ic, .general-services_aa_icon, .general-services_infrustructure_ic, .general-services_sso_ic, .general-services_sso_icon, .general-services_webapi_ic, .general-services_webapi_icon, .general-social_in_ic, .general-social_slideshare_ic, .general-social_twitter_ic, .general-social_utube_ic, .general-standards_icon, .general-support_icon, .general-sys_migrat_icon, .general-up_arrow_icon, .general-upcoming_events_icon, .general-videos_icon, .general-webinars_icon, .general-white-chevron {
  background-image: url('../images/general-sf0d1a3801b.png');
  background-repeat: no-repeat;
}

.general-app_integrat_icon {
  background-position: 0 -3402px;
}

.general-articles_icon {
  background-position: -69px -3354px;
}

.general-benchmarking_icon {
  background-position: -111px -3296px;
}

.general-bullet_icon {
  background-position: -179px -3286px;
}

.general-calendar_curious_blue {
  background-position: -190px -3239px;
}

.general-calendar_ocean_green {
  background-position: -236px -3192px;
}

.general-calendar_purple_mountain {
  background-position: -282px -3145px;
}

.general-calendar_supernova {
  background-position: -328px -3098px;
}

.general-calendar_tacao {
  background-position: -374px -3051px;
}

.general-checkmark_bullet {
  background-position: -420px -3029px;
}

.general-chevron {
  background-position: -442px -3012px;
}

.general-chevron_xs {
  background-position: -454px -3003px;
}

.general-clock_icon {
  background-position: -460px -2943px;
}

.general-contactus_icon {
  background-position: -521px -2782px;
}

.general-contribute_icon {
  background-position: -682px -2708px;
}

.general-data_sheets_icon {
  background-position: -742px -2660px;
}

.general-deploy_icon {
  background-position: -784px -2588px;
}

.general-design_customiz_icon {
  background-position: -857px -2519px;
}

.general-docs_icon {
  background-position: -917px -2442px;
}

.general-down_arrow_icon {
  background-position: -979px -2434px;
}

.general-events_icon {
  background-position: -995px -2385px;
}

.general-gluu_right_arrow_icon {
  background-position: -1037px -2374px;
}

.general-latest_videos_icon {
  background-position: -1054px -2326px;
}

.general-leadership_icon {
  background-position: -1102px -2165px;
}

.general-leadership_social_in {
  background-position: -1263px -2122px;
}

.general-leadership_social_mail {
  background-position: -1306px -2079px;
}

.general-leadership_social_tw {
  background-position: -1349px -2036px;
}

.general-license_icon {
  background-position: -1392px -1975px;
}

.general-managed_service_icon {
  background-position: -1446px -1915px;
}

.general-media_relations_icon {
  background-position: -1515px -1754px;
}

.general-onsite_training_icon {
  background-position: -1676px -1693px;
}

.general-our_story_icon {
  background-position: -1736px -1532px;
}

.general-phone_icon_lg {
  background-position: -1897px -1405px;
}

.general-press_releases_icon {
  background-position: -2024px -1244px;
}

.general-reasons_bullet {
  background-position: -2185px -1234px;
}

.general-resources_icon {
  background-position: -2195px -1073px;
}

.general-round_bullit {
  background-position: -2356px -1041px;
}

.general-services_aa_ic {
  background-position: -2389px -1006px;
}

.general-services_aa_icon {
  background-position: -2424px -940px;
}

.general-services_infrustructure_ic {
  background-position: -2489px -904px;
}

.general-services_sso_ic {
  background-position: -2525px -868px;
}

.general-services_sso_icon {
  background-position: -2552px -802px;
}

.general-services_webapi_ic {
  background-position: -2601px -763px;
}

.general-services_webapi_icon {
  background-position: -2641px -692px;
}

.general-social_in_ic {
  background-position: -2714px -668px;
}

.general-social_slideshare_ic {
  background-position: -2734px -644px;
}

.general-social_twitter_ic {
  background-position: -2754px -620px;
}

.general-social_utube_ic {
  background-position: -2774px -596px;
}

.general-standards_icon {
  background-position: -2794px -545px;
}

.general-support_icon {
  background-position: -2832px -457px;
}

.general-sys_migrat_icon {
  background-position: -2917px -395px;
}

.general-up_arrow_icon {
  background-position: -2994px -387px;
}

.general-upcoming_events_icon {
  background-position: -3010px -226px;
}

.general-videos_icon {
  background-position: -3171px -65px;
}

.general-webinars_icon {
  background-position: -3332px -17px;
}

.general-white-chevron {
  background-position: -3384px 0;
}

.search-bar {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iOTMlIiBzdG9wLWNvbG9yPSIjZGJkYmRiIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzRjNGM0Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(93%, #dbdbdb), color-stop(100%, #c4c4c4));
  background-image: -moz-linear-gradient(#ffffff, #dbdbdb 93%, #c4c4c4);
  background-image: -webkit-linear-gradient(#ffffff, #dbdbdb 93%, #c4c4c4);
  background-image: linear-gradient(#ffffff, #dbdbdb 93%, #c4c4c4);
  max-width: 1250px;
  margin: 0 auto;
}
