/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
.pricingtv1-sprite, .pricingtv1-basic_icon, .pricingtv1-enterprise_icon, .pricingtv1-gluu_right_arrow_icon, .pricingtv1-gsde_icon, .pricingtv1-most_popular_label, .pricingtv1-oxd_pro_icon, .pricingtv1-phone_icon_lg, .pricingtv1-premium_icon, .pricingtv1-sgtf_auth_icon {
  background-image: url('../images/pricingtv1-s3bc5d72a60.png');
  background-repeat: no-repeat;
}

.pricingtv1-basic_icon {
  background-position: 0 -481px;
}

.pricingtv1-enterprise_icon {
  background-position: -24px -458px;
}

.pricingtv1-gluu_right_arrow_icon {
  background-position: -49px -447px;
}

.pricingtv1-gsde_icon {
  background-position: -66px -393px;
}

.pricingtv1-most_popular_label {
  background-position: -142px -274px;
}

.pricingtv1-oxd_pro_icon {
  background-position: -261px -211px;
}

.pricingtv1-phone_icon_lg {
  background-position: -323px -84px;
}

.pricingtv1-premium_icon {
  background-position: -450px -61px;
}

.pricingtv1-sgtf_auth_icon {
  background-position: -475px 0;
}
