/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
.enterprise-sprite, .enterprise-am_icon, .enterprise-di_icon, .enterprise-e_icon, .enterprise-mfa_icon, .enterprise-sso_icon, .enterprise-um_icon {
  background-image: url('../images/enterprise-s7801559161.png');
  background-repeat: no-repeat;
}

.front17-sprite, .front17-apache, .front17-arr_left, .page-template-front17-page .bx-wrapper .bx-prev, .front17-arr_right, .page-template-front17-page .bx-wrapper .bx-next, .front17-arrows1, .front17-calling, .front17-dev_oauth_badge, .front17-duo, .front17-feitian, .front17-gluu_icon1, .front17-gluu_server, .front17-hyperfido, .front17-js, .front17-mfa, .front17-nginx, .front17-openid, .front17-openid_green3, .front17-super_gluu, .front17-super_gluu_green, .front17-super_gluu_mobile, .front17-super_gluu_white, .front17-vasco, .front17-yubikey {
  background-image: url('../images/front17-sbaec39f5ab.png');
  background-repeat: no-repeat;
}

.general-sprite, .general-app_integrat_icon, .general-arr_left, .single .bx-wrapper .bx-prev, .general-arr_right, .single .bx-wrapper .bx-next, .general-articles_icon, .general-benchmarking_icon, .general-bullet_icon, .general-calendar_curious_blue, .general-calendar_ocean_green, .general-calendar_purple_mountain, .general-calendar_supernova, .general-calendar_tacao, .general-checkmark_bullet, .general-chevron, .general-chevron_xs, .general-clock_icon, .general-contactus_icon, .general-contribute_icon, .general-data_sheets_icon, .general-deploy_icon, .general-design_customiz_icon, .general-docs_icon, .general-down_arrow_icon, .general-events_icon, .general-gluu_right_arrow_icon, .general-latest_videos_icon, .general-leadership_icon, .general-leadership_social_in, .general-leadership_social_mail, .general-leadership_social_tw, .general-license_icon, .general-managed_service_icon, .general-media_relations_icon, .general-onsite_training_icon, .general-our_story_icon, .general-phone_icon_lg, .general-press_releases_icon, .general-reasons_bullet, .general-resources_icon, .general-round_bullit, .general-services_aa_ic, .general-services_aa_icon, .general-services_infrustructure_ic, .general-services_sso_ic, .general-services_sso_icon, .general-services_webapi_ic, .general-services_webapi_icon, .general-social_in_ic, .general-social_slideshare_ic, .general-social_twitter_ic, .general-social_utube_ic, .general-standards_icon, .general-support_icon, .general-sys_migrat_icon, .general-up_arrow_icon, .general-upcoming_events_icon, .general-videos_icon, .general-webinars_icon, .general-white-chevron {
  background-image: url('../images/general-s064ca11822.png');
  background-repeat: no-repeat;
}

.pricingtv1-sprite, .pricingtv1-basic_icon, .pricingtv1-enterprise_icon, .pricingtv1-gluu_right_arrow_icon, .pricingtv1-gsde_icon, .pricingtv1-most_popular_label, .pricingtv1-oxd_pro_icon, .pricingtv1-phone_icon_lg, .pricingtv1-premium_icon, .pricingtv1-sgtf_auth_icon {
  background-image: url('../images/pricingtv1-s3bc5d72a60.png');
  background-repeat: no-repeat;
}

.pricingtv2-sprite, .pricingtv2-avatar, .pricingtv2-clock, .pricingtv2-coin, .pricingtv2-conversation, .pricingtv2-discuss-issue, .pricingtv2-telephone {
  background-image: url('../images/pricingtv2-s311796c2fd.png');
  background-repeat: no-repeat;
}

.enterprise-am_icon {
  background-position: 0 -123px;
}

.enterprise-di_icon {
  background-position: -26px -101px;
}

.enterprise-e_icon {
  background-position: -51px -76px;
}

.enterprise-mfa_icon {
  background-position: -79px -51px;
}

.enterprise-sso_icon {
  background-position: -101px -27px;
}

.enterprise-um_icon {
  background-position: -119px 0;
}

.front17-apache {
  background-position: 0 -838px;
}

.front17-arr_left, .page-template-front17-page .bx-wrapper .bx-prev {
  background-position: -23px -798px;
}

.front17-arr_right, .page-template-front17-page .bx-wrapper .bx-next {
  background-position: -47px -758px;
}

.front17-arrows1 {
  background-position: -71px -713px;
}

.front17-calling {
  background-position: -117px -663px;
}

.front17-dev_oauth_badge {
  background-position: -146px -623px;
}

.front17-duo {
  background-position: -186px -604px;
}

.front17-feitian {
  background-position: -246px -585px;
}

.front17-gluu_icon1 {
  background-position: -324px -545px;
}

.front17-gluu_server {
  background-position: -359px -495px;
}

.front17-hyperfido {
  background-position: -403px -455px;
}

.front17-js {
  background-position: -442px -415px;
}

.front17-mfa {
  background-position: -478px -375px;
}

.front17-nginx {
  background-position: -518px -335px;
}

.front17-openid {
  background-position: -568px -285px;
}

.front17-openid_green3 {
  background-position: -622px -240px;
}

.front17-super_gluu {
  background-position: -667px -195px;
}

.front17-super_gluu_green {
  background-position: -789px -150px;
}

.front17-super_gluu_mobile {
  background-position: -911px -105px;
}

.front17-super_gluu_white {
  background-position: -956px -53px;
}

.front17-vasco {
  background-position: -1001px -40px;
}

.front17-yubikey {
  background-position: -1131px 0;
}

.general-app_integrat_icon {
  background-position: 0 -3474px;
}

.general-arr_left, .single .bx-wrapper .bx-prev {
  background-position: -69px -3438px;
}

.general-arr_right, .single .bx-wrapper .bx-next {
  background-position: -105px -3402px;
}

.general-articles_icon {
  background-position: -141px -3354px;
}

.general-benchmarking_icon {
  background-position: -183px -3296px;
}

.general-bullet_icon {
  background-position: -251px -3286px;
}

.general-calendar_curious_blue {
  background-position: -262px -3239px;
}

.general-calendar_ocean_green {
  background-position: -308px -3192px;
}

.general-calendar_purple_mountain {
  background-position: -354px -3145px;
}

.general-calendar_supernova {
  background-position: -400px -3098px;
}

.general-calendar_tacao {
  background-position: -446px -3051px;
}

.general-checkmark_bullet {
  background-position: -492px -3029px;
}

.general-chevron {
  background-position: -514px -3012px;
}

.general-chevron_xs {
  background-position: -526px -3003px;
}

.general-clock_icon {
  background-position: -532px -2943px;
}

.general-contactus_icon {
  background-position: -593px -2782px;
}

.general-contribute_icon {
  background-position: -754px -2708px;
}

.general-data_sheets_icon {
  background-position: -814px -2660px;
}

.general-deploy_icon {
  background-position: -856px -2588px;
}

.general-design_customiz_icon {
  background-position: -929px -2519px;
}

.general-docs_icon {
  background-position: -989px -2442px;
}

.general-down_arrow_icon {
  background-position: -1051px -2434px;
}

.general-events_icon {
  background-position: -1067px -2385px;
}

.general-gluu_right_arrow_icon {
  background-position: -1109px -2374px;
}

.general-latest_videos_icon {
  background-position: -1126px -2326px;
}

.general-leadership_icon {
  background-position: -1174px -2165px;
}

.general-leadership_social_in {
  background-position: -1335px -2122px;
}

.general-leadership_social_mail {
  background-position: -1378px -2079px;
}

.general-leadership_social_tw {
  background-position: -1421px -2036px;
}

.general-license_icon {
  background-position: -1464px -1975px;
}

.general-managed_service_icon {
  background-position: -1518px -1915px;
}

.general-media_relations_icon {
  background-position: -1587px -1754px;
}

.general-onsite_training_icon {
  background-position: -1748px -1693px;
}

.general-our_story_icon {
  background-position: -1808px -1532px;
}

.general-phone_icon_lg {
  background-position: -1969px -1405px;
}

.general-press_releases_icon {
  background-position: -2096px -1244px;
}

.general-reasons_bullet {
  background-position: -2257px -1234px;
}

.general-resources_icon {
  background-position: -2267px -1073px;
}

.general-round_bullit {
  background-position: -2428px -1041px;
}

.general-services_aa_ic {
  background-position: -2461px -1006px;
}

.general-services_aa_icon {
  background-position: -2496px -940px;
}

.general-services_infrustructure_ic {
  background-position: -2561px -904px;
}

.general-services_sso_ic {
  background-position: -2597px -868px;
}

.general-services_sso_icon {
  background-position: -2624px -802px;
}

.general-services_webapi_ic {
  background-position: -2673px -763px;
}

.general-services_webapi_icon {
  background-position: -2713px -692px;
}

.general-social_in_ic {
  background-position: -2786px -668px;
}

.general-social_slideshare_ic {
  background-position: -2806px -644px;
}

.general-social_twitter_ic {
  background-position: -2826px -620px;
}

.general-social_utube_ic {
  background-position: -2846px -596px;
}

.general-standards_icon {
  background-position: -2866px -545px;
}

.general-support_icon {
  background-position: -2904px -457px;
}

.general-sys_migrat_icon {
  background-position: -2989px -395px;
}

.general-up_arrow_icon {
  background-position: -3066px -387px;
}

.general-upcoming_events_icon {
  background-position: -3082px -226px;
}

.general-videos_icon {
  background-position: -3243px -65px;
}

.general-webinars_icon {
  background-position: -3404px -17px;
}

.general-white-chevron {
  background-position: -3456px 0;
}

.search-bar {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iOTMlIiBzdG9wLWNvbG9yPSIjZGJkYmRiIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzRjNGM0Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(93%, #dbdbdb), color-stop(100%, #c4c4c4));
  background-image: -moz-linear-gradient(#ffffff, #dbdbdb 93%, #c4c4c4);
  background-image: -webkit-linear-gradient(#ffffff, #dbdbdb 93%, #c4c4c4);
  background-image: linear-gradient(#ffffff, #dbdbdb 93%, #c4c4c4);
  max-width: 1250px;
  margin: 0 auto;
}

.pricingtv1-basic_icon {
  background-position: 0 -481px;
}

.pricingtv1-enterprise_icon {
  background-position: -24px -458px;
}

.pricingtv1-gluu_right_arrow_icon {
  background-position: -49px -447px;
}

.pricingtv1-gsde_icon {
  background-position: -66px -393px;
}

.pricingtv1-most_popular_label {
  background-position: -142px -274px;
}

.pricingtv1-oxd_pro_icon {
  background-position: -261px -211px;
}

.pricingtv1-phone_icon_lg {
  background-position: -323px -84px;
}

.pricingtv1-premium_icon {
  background-position: -450px -61px;
}

.pricingtv1-sgtf_auth_icon {
  background-position: -475px 0;
}

.pricingtv2-avatar {
  background-position: 0 -116px;
}

.pricingtv2-clock {
  background-position: -21px -92px;
}

.pricingtv2-coin {
  background-position: -45px -68px;
}

.pricingtv2-conversation {
  background-position: -69px -46px;
}

.pricingtv2-discuss-issue {
  background-position: -93px -24px;
}

.pricingtv2-telephone {
  background-position: -117px 0;
}
