.sprite-sprite, .sprite-access_management_ic, .sprite-authentication_logic_ic, .sprite-blue_click_icon, .sprite-dark_blue_click_icon, .sprite-dedicated_server_ic, .sprite-directory_integration_ic, .sprite-enlarge_icon, .sprite-green_click_icon, .sprite-i_icon, .sprite-list_round_bg, .sprite-logo_icon, .sprite-marker_bg, .sprite-no_icon, .sprite-open_quotemark, .sprite-orange_click_icon, .sprite-premise_cloud_ic, .sprite-pricing_no, .sprite-pricing_yes, .sprite-services_build, .sprite-services_design, .sprite-services_operate, .sprite-services_transfer, .sprite-single_sign_on_ic, .sprite-team_bgimg, .sprite-team_breakerbg, .sprite-team_email, .sprite-team_in, .sprite-team_twitter, .sprite-yes_icon, .sprite-yes_round_icon {
  background: url('../images/sprite-s8db7307b76.png') no-repeat;
}

.sprite-access_management_ic {
  background-position: 0 -51px;
}

.sprite-authentication_logic_ic {
  background-position: 0 0;
}

.sprite-blue_click_icon {
  background-position: 0 -393px;
}

.sprite-dark_blue_click_icon {
  background-position: 0 -497px;
}

.sprite-dedicated_server_ic {
  background-position: 0 -197px;
}

.sprite-directory_integration_ic {
  background-position: 0 -138px;
}

.sprite-enlarge_icon {
  background-position: 0 -969px;
}

.sprite-green_click_icon {
  background-position: 0 -517px;
}

.sprite-i_icon {
  background-position: 0 -832px;
}

.sprite-list_round_bg {
  background-position: 0 -943px;
}

.sprite-logo_icon {
  background-position: 0 -345px;
}

.sprite-marker_bg {
  background-position: 0 -889px;
}

.sprite-no_icon {
  background-position: 0 -873px;
}

.sprite-open_quotemark {
  background-position: 0 -986px;
}

.sprite-orange_click_icon {
  background-position: 0 -477px;
}

.sprite-premise_cloud_ic {
  background-position: 0 -99px;
}

.sprite-pricing_no {
  background-position: 0 -304px;
}

.sprite-pricing_yes {
  background-position: 0 -413px;
}

.sprite-services_build {
  background-position: 0 -806px;
}

.sprite-services_design {
  background-position: 0 -847px;
}

.sprite-services_operate {
  background-position: 0 -780px;
}

.sprite-services_transfer {
  background-position: 0 -1003px;
}

.sprite-single_sign_on_ic {
  background-position: 0 -246px;
}

.sprite-team_bgimg {
  background-position: 0 -561px;
}

.sprite-team_breakerbg {
  background-position: 0 -925px;
}

.sprite-team_email {
  background-position: 0 -738px;
}

.sprite-team_in {
  background-position: 0 -453px;
}

.sprite-team_twitter {
  background-position: 0 -537px;
}

.sprite-yes_icon {
  background-position: 0 -762px;
}

.sprite-yes_round_icon {
  background-position: 0 -932px;
}

.services-nav-wrapper a {
  -webkit-box-shadow: black 0px 0px 4px;
  -moz-box-shadow: black 0px 0px 4px;
  box-shadow: black 0px 0px 4px;
}

.banner-content-inner h3 {
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0, rgba(0, 0, 0, 0.2) 1px 1px 0, rgba(0, 0, 0, 0.1) 1px 3px 0;
}
