/*sprites*/
i{
    display:inline-block;
}
.gluu_ic{
    display:inline-block;
}
.general-services_aa_ic{
    width:35px;
    height:35px;
}

.general-services_infrustructure_ic{
    width:36px;
    height:36px;
}
.general-services_sso_ic{
    width:27px;
    height:36px;
}
.general-services_webapi_ic{
    width:40px;
    height:39px;
}
.general-services_aa_icon{
    width:65px;
    height:66px;
}
.general-services_sso_icon{
    width:49px;
    height:66px;
}
.general-services_webapi_icon{
    width:73px;
    height:71px;
}
.general-clock_icon{
    width:61px;
    height:60px;
}
.general-deploy_icon{
    width:73px;
    height:72px;
}
.general-docs_icon{
    width:62px;
    height:77px;
}
.general-support_icon{
    width:85px;
    height:88px;
}
.general-contribute_icon{
    width:60px;
    height:74px;
}
.general-our_story_icon, .general-leadership_icon, .general-contactus_icon, .general-media_relations_icon, .general-resources_icon, .general-press_releases_icon, .general-upcoming_events_icon, .general-videos_icon{
    width:161px;
    height:161px;
}
.general-articles_icon{
    width:42px;
    height:48px;
}
.general-data_sheets_icon{
    width:42px;
    height:48px;
}
.general-standards_icon{
    width:38px;
    height:51px;
}
.general-calendar_curious_blue, .general-calendar_ocean_green, .general-calendar_purple_mountain, .general-calendar_supernova, .general-calendar_tacao{
    width:46px;
    height:47px;
}
.general-bullet_icon{
    width:11px;
    height:10px;
    position:absolute;
    left:0;
    top:5px;
}
.general-reasons_bullet{
    width:10px;
    height:10px;
    position:absolute;
    left:0;
    top:5px;
}
.general-up_arrow_icon, .general-down_arrow_icon{
    width:16px;
    height:8px;
}
.general-phone_icon_lg{
    width:127px;
    height:127px;
}
.enterprise-am_icon{
    width:26px;
    height:25px;
}
.enterprise-di_icon{
    width:25px;
    height:22px;
}
.enterprise-e_icon{
    width:28px;
    height:25px;
}
.enterprise-mfa_icon{
    width:22px;
    height:25px;
}
.enterprise-sso_icon{
    width:18px;
    height:24px;
}
.enterprise-um_icon{
    width:24px;
    height:27px;
}
.general-events_icon{
    width:42px;
    height:49px;
}
.general-webinars_icon{
    width:52px;
    height:48px;
}
.general-latest_videos_icon{
    width:48px;
    height:48px;
}
.general-leadership_social_tw, .general-leadership_social_in, .general-leadership_social_mail{
    width:43px;
    height:43px;
}
.general-benchmarking_icon{
    width:68px;
    height:58px;
}
.general-managed_service_icon{
    width:69px;
    height:60px;
}
.general-onsite_training_icon{
    width:60px;
    height:61px;
}
.general-sys_migrat_icon{
    width:77px;
    height:62px;
}
.general-design_customiz_icon, .general-app_integrat_icon{
    width:69px;
    height:60px;
}
.general-license_icon{
    width:54px;
    height:61px;
}
.general-gluu_right_arrow_icon{
    width:17px;
    height:11px;
}
.general-arr_left{
    width:36px;
    height:36px;
}
.general-arr_right{
    width:36px;
    height:36px;
}
.front17-gluu_server{
    width:44px;
    height:50px;
}
.front17-openid{
    width:54px;
    height:50px;
}
.front17-super_gluu{
    width:122px;
    height:45px;
}
.front17-calling{
    width:29px;
    height:50px;
}
.front17-gluu_icon1{
    width:35px;
    height:40px;
}
.front17-openid_green3{
    width:45px;
    height:45px;
}
.front17-arrows1{
    width:46px;
    height:45px;
}
.front17-super_gluu_green{
    width:122px;
    height:45px;
}
.front17-super_gluu_mobile{
    width:45px;
    height:45px;
}
.front17-super_gluu_white{
    width:45px;
    height:52px;
}
.front17-apache{
    width:23px;
    height:40px;
}
.front17-nginx{
    width:50px;
    height:40px;
}
.front17-dev_oauth_badge{
    width:40px;
    height:40px;
}
.front17-js{
    width:36px;
    height:40px;
}
.front17-arr_left,
.front17-arr_right{
    width:24px;
    height:40px;
}
.front17-yubikey{
    width:40px;
    height:40px;
}
.front17-mfa{
    width:40px;
    height:40px;
}
.front17-duo{
    width:60px;
    height:19px;
}
.front17-hyperfido{
    width:39px;
    height:40px;
}
.front17-feitian{
    width:78px;
    height:19px;
}
.front17-vasco{
    width:130px;
    height:13px;
}