/*
    Pricing table page v2
*/
.pricing-tv2-row{
.btn{
    &:link,
    &:hover,
    &:active,
    &:visited{
        color:#fff;
    }
}
}
//sprites
.pricingtv2-avatar{
    width:21px;
    height:24px;
}
.pricingtv2-clock{
    width:24px;
    height:24px;
}
.pricingtv2-coin{
    width:24px;
    height:24px;
}
.pricingtv2-conversation{
    width:24px;
    height:22px;
}
.pricingtv2-discuss-issue{
    width:24px;
    height:22px;
}
.pricingtv2-telephone{
    width:24px;
    height:24px;
}

//end sprites
.push-top44{
    height:44px;
    margin-top:-44px;
}
.most-popular{
    .push-top44{
        color:#fff;
        line-height:44px;
        background:#17b16a;
        text-align:center;
        span{
            display:inline-block;
            font-size:16px;
            line-height:16px;
            vertical-align:middle;
            font-weight:500;
            text-transform:uppercase;
        }
    }
}
.free-plan-wrap{
    .push-top44{
        border-bottom:3px solid #16a7ed;
    }
}
.premium-plan-wrap{
    .push-top44{
        border-bottom:3px solid #17b16a;
    }
}
.pricing-tv2-row{
    margin-top:45px;
    .col-md-24{
        margin-bottom:26px;
        padding-left:10px;
        padding-right:10px;
    }
    .inner-wrapper{
        margin-top:44px;
        border:1px solid #f4f4f4;
        padding-bottom:114px;
        position:relative;
        box-shadow: 6px 0px 15px 0px rgba(231,236,237,0.65);
    }
    .btn-wrapper{
        position:absolute;
        bottom:25px;
        left:0;
        right:0;
        text-align:center;
    }
    h3{
        font-size:20px;
        font-weight:500;
        color:#323232;
        margin-top:28px;
    }
    h3,
    .free-plan,
    .plan-price{
        text-align:center;
    }
    .free-plan{
        color:#16a7ed;
        &:after{
            content:'/year';
        }
    }
    .plan-price{
        color:#17b16a;
        &:after{
            content:'/year*';
        }
    }
    .free-plan,
    .plan-price{
        margin-top:37px;
        font-size:32px;
        line-height:32px;
        &:after{
            font-size:16px;
            color:#a6a6a6;
        }
    }
    hr{
        border:none;
        height:1px;
        //max-width:116px;
        margin:30px 0 35px 0;
        background:#f0f0f0;
    }
    ul{
        margin:0;
        padding:0 14px;
        list-style-type:none;
        font-size:14px;
        line-height:20px;
        color:#7d7d7d;
        li{
            margin-top:22px;
            &:first-child{
                margin-top:0;
            }
            position:relative;
            padding-left:41px;
            i{
                position:absolute;
                left:0;
            }
        }
    }
    .btn{
        text-transform:uppercase !important;
    }
}
.pricing-tv2-header{
    padding-top:52px;
    h2, p{
        text-align:center;
    }
    h2{
        font-size:36px;
        line-height:33px;
        font-weight:400;
        color:#3b4145;
        margin-bottom:24px;
    }
    p{
        color:#898989;
        line-height:25px;
    }
}
.pricing-tv2-footnotes,
.pricing-tv2-footnotes p{
    color:#858585;
    font-size:14px;
    line-height:20px;
}
.view-matrix-link-row2{
    margin-top:29px;
    margin-bottom:48px;
}
.view-matrix-link2{
        a{
        font-size:18px;
        @include btn-text(#16a7ed);
        &:link{
            text-decoration:underline;
        }
        }
    }