/*edu page*/
.page-template-edu .container.main{
    padding-top:50px;
}
h3.why-gluu-edu{
    padding-bottom:0;
}
.edu-list, .shibboleth-list{
    margin-left:10px; 
    margin-bottom:27px;
}
.edu-list li, 
.shibboleth-list li{
    margin-top:20px; 
    padding-left:18px; 
    position:relative; 
    z-index:2; 
    color:#fff;
}
.edu-list span, .shibboleth-list span{
    display:block; 
    width:11px; 
    height:11px; 
    position:absolute; 
    left:0px; 
    top:3px; 
    z-index:0;
}
.edu-list li p, 
.shibboleth-list li p, 
.edu-list li div, 
.shibboleth-list li div{
    color:#666; 
    line-height:1.2em; 
    margin:0;
}

.feedback-container{
    border:4px solid #e8e8e8; 
    padding:34px 8px 82px 8px; 
    position:relative;
}
.feedback-quote{
    font-style:italic; 
    line-height:1.3em;
}
.feedback_img{
    position:absolute; 
    bottom:8px; 
    right:12px;
}
.feedback-name{
    padding-top:12px; 
    font-weight:bold; 
    text-align:right;
}
.feedback-position{
    text-align:right;
}
.trusted-by-container{
    margin-top:59px; 
    border:1px solid #e8e8e8; 
    background-color:#f4f4f4; 
    padding:14px 10px; 
    text-align:center;
}
h4.trusted-title{
    text-align:left;
}
.sprite-open_quotemark{
    width:22px; 
    height:17px; 
    position:absolute; 
    left:8px; 
    top:8px;
}
.trustedby-companies-wrapper{
    padding-top:50px;
}
article .no-bullets li{
    list-style-type:none !important; 
    margin:0;
}
.trustedby-companies{
    background-color:#f4f4f4; 
    border:1px solid #e8e8e8; 
    padding:18px 0; 
    text-align:center;
}
.trustedby-companies img{
    border:none; 
    display:inline-block;
}
.view-pricing-btn-container{
    margin-bottom:50px;
}