/*
    Entitlements
*/

.page-template-entitlements{
    background:#3e3e3e;
    .main-wrapper{
        max-width:1080px;
        margin:20px auto 10px auto;
        @include box-shadow(0, 0, 8px, .7);
    }
    .container.t-container{
    	    //max-width:1050px;
    	    padding-left:30px;
    	    padding-right:30px;
        }
    @media (min-width: $screen-lg) {
        .container{
    	    max-width:1080px;
    	    padding-left:50px;
    	    padding-right:50px;
        }
        .container.t-container{
    	    max-width:1050px;
    	    padding-left:50px;
    	    padding-right:50px;
        }
    
    }
    footer{
        padding-top:21px;
        padding-bottom:19px;
        background:#273134;
        margin-top:15px;
        color:#fff;
        font-size:16px;
        @media (min-width: $screen-sm) {
            font-size:13px;
        }
        @media (min-width: $screen-lg) {
            font-size:16px;
        }
        .link-wrapper{
            line-height:38px;
            @media (max-width: $screen-sm) {
                margin-top:15px;
            }
        }
        a{
            line-height:30px;
            vertical-align:middle;
            &:link, &:hover, &:active, &:visited{
                color:#fff;
            }
            display:inline-block;
            position:relative;
            padding-left:40px;
            img{
                position:absolute;
                width:30px;
                height:30px;
                top:0px;
                left:0;
            }
        }
        .col-sm-2{
            &:first-child{
                position:relative;
                @media (min-width: $screen-sm) {
                &:after{
                    content:'';
                    display:block;
                    position:absolute;
                    width:1px;
                    background:#fff;
                    top:0;
                    right:0;
                    bottom:0;
                }
                }
            }
        }
    }
}
.entitlements-top{
    padding-top:35px;
    padding-bottom:11px;
    strong{
        display:inline-block;
    }
    h1, strong{
        color:$outer-space;
        font-size:43px;
        font-weight:400;
        line-height:1em;
        //letter-spacing:-.035em;
        margin:0;
        padding-top:12px;
    }
    .support-m{
        margin-top:12px;
    }
    hr{
        height:1px;
        border:none;
        margin:26px 0 0 0;
        background-color:#a5aeb3;
    }
}
.entitlements-section{
    margin-top:20px;
    .t-border-wrapper{
        border:1px solid #a5aeb3;
        overflow:hidden; //hide row background overflow on sides
        .row{
            border-top:1px solid #a5aeb3;
            &:first-child{
                border-top:none;
            }
            &:nth-child(even){
                background:#f5f5f5;
            }
        }
    }
    
        .t-body{
        .col-sm-3{
            .inner-wrapper{
                position:relative;
                div{
                    padding-left:115px;
                }
            }
            .inner-wrapper:before {
                content:attr(data-feature) ':';
                position:absolute;
                left:16px;
                font-size:16px;
            }
        }
        }
    @media (min-width: $screen-sm) {
        .t-body{
        .col-sm-3{
            .inner-wrapper{
                div{
                    padding-left:0;
                }
            }
            .inner-wrapper:before {
                display:none;
            }
        }
        }
    }
    .t-header.row{
            .col-sm-6{
                &:nth-child(2){
                    display:none;
                }
            }
        @media (min-width: $screen-sm) {
            .col-sm-6{
                &:nth-child(2){
                    display:block;
                }
            }
        }
        .inner-wrapper{
            padding-top:8px;
            padding-bottom:9px;
            
        }
    }
    .t-body.row{
        
        .inner-wrapper{
            padding-top:11px;
            padding-bottom:12px;
            
        }
    }
    .t-header{
        font-weight:400;
        font-size:16px;
        .inner-wrapper.name{
           font-size:17px; 
        }
        sup{
            font-size:10.5px;
            top:-.85em;
        }
    }
    .t-body{
        font-size:14px;
        /*.fa-check, .fa-times{
            font-size:20px;
        }
        .fa-check{
            color:#01a161;
        }
        .fa-times{
            color:#bfbfbf;
        }*/
        .icon-check path{
            fill:#01a161;
        }
        .icon-times path{
            fill:#bfbfbf;
        }
    }
    .t-header, .t-body{
        .col-sm-6{
            position:relative;
            @media (min-width: $screen-sm) {
            &:first-child{
                margin-bottom:-9999px;
                padding-bottom:9999px;
                &:after{
                    content:'';
                    display:block;
                    width:1px;
                    position:absolute;
                    top:0;
                    bottom:0;
                    right:0;
                    background:#a5aeb3;
                }
            }
            }
        }
        
        .col-sm-3{
            position:relative;
            @media (min-width: $screen-sm) {
            &:nth-child(1), &:nth-child(2), &:nth-child(3){
                margin-bottom:-9999px;
                padding-bottom:9999px;
                &:after{
                    content:'';
                    display:block;
                    width:1px;
                    position:absolute;
                    top:0;
                    bottom:0;
                    right:0;
                    background:#a5aeb3;
                }
            }
            }
        }
    }
}
.foot-notes{
    margin-top:15px;
    font-size:13px;
    font-style:italic;
    font-weight:400;
    p{
        margin-top:14px;
        &:first-child{
            margin-top:0;
        }
    }
}