/*
    Main pricing
*/
.plant-plan-row{
    padding-top:52px;
    padding-bottom:87px;
    .inner-wrapper{
        p{
            font-size:16px;
        }
    }
    .col-sm-4{
        padding-top:30px;
        @media (min-width: $screen-sm) {
            position:relative;
            padding-bottom:100px;
        }
        .learn-more-wrapper{
              @media (min-width: $screen-sm) {
                  position:absolute;
                  bottom:2px;
                  left:0;
                  right:0;
                  padding:0 20px;
              }
          }
    }
    .img-wrapper{
        line-height:152px;
        text-align:center;
        img{
            vertical-align:bottom;
        }
    }
    h3{
        text-transform:uppercase;
        margin-bottom:6px;
    }
    .inner-wrapper{
        max-width:285px;
        margin:55px auto 0 auto;
    }
    .learn-more-btn{
        @media (max-width: $screen-sm) {
            margin-top:23px;
        }
        display:inline-block;
        background-color:$jade;
        line-height:1em;
        font-size:18px;
        padding:16px 14px;
        @media (min-width: $screen-sm) {
            font-size:20px;
            padding:18px 16px;
        }
        @include common-border-radius(3px);
        &:link, &:hover, &:active, &:visited{
            color:#fff;
            text-decoration:none;
        }
        span{
            display:inline-block;
            margin-right:9px;   
        }
    }
    
}