/*
    Pricing table page v1
*/

//sprites
.pricingtv1-most_popular_label{
    width:119px;
    height:119px;
}
.pricingtv1-basic_icon{
    width:24px;
    height:22px;
}
.pricingtv1-enterprise_icon{
    width:25px;
    height:23px;
}
.pricingtv1-premium_icon{
    width:25px;
    height:23px;
}
.pricingtv1-gsde_icon{
    width:76px;
    height:54px;
}
.pricingtv1-oxd_pro_icon{
    width:62px;
    height:63px;
}
.pricingtv1-sgtf_auth_icon{
    width:46px;
    height:61px;
}
//end sprites

.pricingtv1-btn{
    @media (max-width: $screen-sm) {
            margin-top:23px;
        }
        display:inline-block;
        background-color:$jade;
        line-height:1em;
        font-size:18px;
        padding:14px 13px;
        @media (min-width: $screen-sm) {
            font-size:16px;
            padding:14px 13px;
        }
        @media (min-width: $screen-md) {
            font-size:20px;
        }
        @include common-border-radius(3px);
        &:link, &:hover, &:active, &:visited{
            color:#fff;
            text-decoration:none;
        }
        span{
            display:inline-block;
            margin-right:9px;   
        }
}
.pricing-tv1-row{
    margin-top:35px;
    .col-sm-4{
        margin-bottom:48px;
    }
    .inner-wrapper{
        border:1px solid #ccc;
        padding:34px 30px 44px 30px;
        @media (min-width: $screen-sm) {
            padding:39px 15px 44px 15px;
        }
        @media (min-width: $screen-md) {
            padding:39px 20px 44px 20px;
        }
        text-align:center;
        position:relative;
        .pricingtv1-most_popular_label{
            position:absolute;
            right:-6px;
            top:-6px;
        }
    }
    .enterprise-h-wrapper{
        padding-left:43px;
    }
    .premium-h-wrapper{
        padding-left:42px;
    }
    .basic-h-wrapper{
        padding-left:39px;
    }
    h3{
      display:inline-block;
      font-size:15px;
      line-height:23px;
      vertical-align:middle;
      //border:1px solid #ccc;
      position:relative;
      i{
          position:absolute;
          left:0;
      }
      /*span{
        vertical-align:middle;
        display:inline-block;
        line-height:1em;
      }*/
      font-weight:600;
      color:#313131;
    }
    h4{
        font-size:12px;
        font-weight:700;
        color:#414141;
    }
    h3, h4{
        text-transform:uppercase;
        text-align:center;
        margin:0;
    }
    .plan-price{
        color:#3499e0;
        font-weight:700;
        font-size:28px;
        line-height:1em;
        margin-top:28px;
        margin-bottom:48px;
        text-transform:uppercase;
    }
    hr{
        border:none;
        height:1px;
        max-width:116px;
        margin:18px auto 26px auto;
        background:#e3e3e3;
    }
    ul{
        margin:0 0 34px 0;
        padding:0;
        list-style-type:none;
        font-size:15px;
        color:#414141;
        li{
            margin-top:17px;
            &:first-child{
                margin-top:0;
            }
        }
    }
}
.additional-gluu-products{
    padding-bottom:13px;
    .pricing-header{
        h2{
            margin:68px 0 58px 0;
        }
    }
    hr{
        margin:0;
    }
    .col-sm-4{
        margin-bottom:48px;
    }
    .sgtf_auth{
        padding-left:73px;
    }
    .oxd_pro{
        padding-left:71px;
    }
    .gsde{
        padding-left:80px;
    }
    h3{
      display:inline-block;
      font-size:22px;
      height:63px;
      vertical-align:middle;
      position:relative;
      margin-bottom:23px;
      i{
          position:absolute;
          left:0;
      }
      span{
          display:inline-block;
          padding-top:10px;
      }
      font-weight:400;
      color:#313131;
    }
    p{
        font-size:18px;
        color:#414141;
        font-weight:300;
        margin-bottom:20px;
    }
}
.view-matrix-link-row{
    margin-bottom:48px;
}
.view-matrix-link{
        font-size:18px;
        //color:#3499e0;
        @include btn-text(#3499e0);
    }