/*sso*/
.sso-apps-list{width:833px; margin:0 auto; padding-bottom:21px;}
.sso-tags{width:124px; height:110px; line-height:110px; border:3px solid #d4d4d4; border-radius:8px; text-align:center;}
.sso-tags a{display:block; width:124px; height:110px; line-height:110px;}
.sso-tags img{display:inline-block; vertical-align:middle; width:90%;}
.relationships-link-container{margin-top:16px; margin-bottom:40px;}
.demo-link-container, .sso-page .relationships-link-container{text-align:center;}
p.sso-p{font-size:22px; line-height:1em; text-align:center;}
.sso p, .sso-button-container{text-align:center;}
.sso-button-container.bottom-gap{margin-bottom:30px;}
.bottom-gap .schedule-button.blue{margin-left:20px;}//in use