/*two factor*/
.tags-nav{width:516px !important; margin:0 auto !important;}
.apps-tags a{display:block; width:110px; line-height:43px; text-align:center !important; vertical-align:middle;}

/*tabs styles*/
.tags-nav{overflow:hidden;}
.tabtn{font-size: 14px; font-weight:200;}
.apps-tags .tabtn.ui-state-default, .apps-tags .ui-tabs-active.ui-state-active{border-width:1px; border-style:solid; border-color:#e5e5e5 #babbbb #a5aaad #babbbb; border-radius:4px;}
.apps-tags .tabtn.ui-state-default{background: #f3f3f4; /* Old browsers */
background: -moz-linear-gradient(top,  #f3f3f4 0%, #e3e4e6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f4), color-stop(100%,#e3e4e6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f3f3f4 0%,#e3e4e6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f3f3f4 0%,#e3e4e6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f3f3f4 0%,#e3e4e6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f3f3f4 0%,#e3e4e6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f4', endColorstr='#e3e4e6',GradientType=0 ); /* IE6-9 */
}
.apps-tags .ui-tabs-active.ui-state-active{border-width:1px 0px 0 1px; color:#fff; background: #00c476; /* Old browsers */
background: -moz-linear-gradient(top,  #00c476 0%, #01a161 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c476), color-stop(100%,#01a161)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #00c476 0%,#01a161 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #00c476 0%,#01a161 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #00c476 0%,#01a161 100%); /* IE10+ */
background: linear-gradient(to bottom,  #00c476 0%,#01a161 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c476', endColorstr='#01a161',GradientType=0 ); /* IE6-9 */
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #333333; text-decoration: none; }
.tabtn.ui-state-active a, .tabtn.ui-state-active a:link, .tabtn.ui-state-active a:visited{color:#fff;}

li.tabtn{float:left; margin-left:10px;}
li.tabtn:first-child{margin-left:0px;}
.ui-tabs { position: relative; padding: 0em; zoom: 1;}
.ui-tabs .ui-tabs-nav { margin: 0; padding:0; }
.ui-tabs .ui-tabs-nav li { padding: 0; white-space: nowrap;}
.ui-tabs .ui-tabs-nav li a { text-decoration: none;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px;}
li.ui-tabs-selected a:link, li.ui-tabs-selected a:hover, li.ui-tabs-selected a:active, li.ui-tabs-selected a:visited{color:#000;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }
.ui-tabs .ui-tabs-panel { display: block; }
.ui-tabs .ui-tabs-hide { display: none !important; }

.ui-corner-all{border:none;}
.tfasn-header,.tfasn-entry{text-align:center;}
.tfasn-entry{width:441px; margin:0 auto;}
.entry-title.tfasn-header{padding-bottom:45px;}
p.tfasn-header{color:#4d4d4d; padding-bottom:32px !important; font-size:22px; line-height:1em; text-align:center;}
.tag-content{padding-top:22px; max-width:834px; margin:0 auto;}

.apps-list{width:833px; margin:0 auto; padding-bottom:21px;}
.tf-tags{width:124px; height:110px; line-height:110px; border:3px solid #d4d4d4; border-radius:8px; text-align:center;}
.tf-tags a{display:block; width:124px; height:110px; line-height:110px;}
.tf-tags img{display:inline-block; vertical-align:middle; width:90%;}
#mobile-tag, #hardToken-tag, #softToken-tag, #alltf-tag, .apps-list{overflow:hidden;}
.tag-content{text-align:center;}
#mobile-tag, #hardToken-tag, #softToken-tag{display:inline-block;}
#mobile-tag .tf-tags, #hardToken-tag .tf-tags, #softToken-tag .tf-tags, #alltf-tag .tf-tags, .apps-list .tf-tags, .sso-tags{display:block; float:left; margin-right:10px; margin-bottom:10px;}//also in use on /single-sign-on
#mobile-tag .tf-tags:first-child, #hardToken-tag .tf-tags:first-child, #softToken-tag .tf-tags:first-child, #alltf-tag .tf-tags:first-child, .apps-list .tf-tags:first-child, .sso-tags:first-child{margin-left:0;}
#alltf-tag .tf-tags:nth-child(7n){margin-left:0;}
.apps-list .tf-tags:nth-child(6n+1), .sso-apps-list .sso-tags:nth-child(6n+1){margin-left:0;}
.sso-sidebar{width:907px; margin:0 auto; padding-top:45px;}
.sso-title{text-align:center;}