/*
    Upcoming Events
*/
.details-button{
    @media (max-width: $screen-sm) {
        display:block;
        text-align:center;
        margin-top:10px;
    }
    display:inline-block; 
    padding:11px 28px; 
    border-radius:5px; 
    background: #018cb3;
}
.details-button:link, .details-button:hover, .details-button:active, .details-button:visited{
    color:#fff;
}
.events-date{
    font-size:16px; 
    color:#838383; 
    padding-bottom:11px;
    }
h3.upcoming-webinars{
    margin-top:60px;
    }
h3.upcoming-ttl{
        font-weight:400;
        overflow:hidden;
        i{
            margin-right:10px;
            float:left;
        }
        span{
            font-size:25px;
            display:inline-block;
            float:left;
            color:#5a5a5a;
        }
    }
h3.events{
        line-height:49px;
        vertical-align:middle;
    }
h3.upcoming-webinars{
        line-height:48px;
        vertical-align:middle;
    }
.upcoming-list{
    margin:0; 
    padding:0;
    clear:both;
    padding-top:15px;
    padding-bottom:15px; 
    margin-bottom:0px; 
    border-width:1px 0; 
    border-style:solid; 
    border-color:#ccc;
    li{
        padding-top:17px; 
        padding-bottom:17px;
        .inner-wrapper{
            @media (min-width: $screen-sm) {
                position:relative;
                padding-right:105px;
            }
        }
        .details-button{
            @media (min-width: $screen-sm) {
                position:absolute;
                right:0;
                top:0;
            }
        }
    }
    strong{
        display:block;
        font-size:16px;
        font-weight:600;
        margin-bottom:3px;
    }
    p{
        font-size:16px;
        font-weight:300;
        color:$tundora;
        margin:0;
    }
}
.page-template-page-templatesupcoming-events-php .left-side-nav{
    @media (min-width: $screen-md) {
        padding-right:20px;
    }
}
.page-template-page-templatesupcoming-events-php .left-side-nav + .col-sm-9{
    @media (min-width: $screen-md) {
        padding-left:56px;
    }
}