/*
    Videos
*/

h3.latest-videos-ttl{
    font-weight:400;
    overflow:hidden;
    line-height:49px;
    vertical-align:middle;
    margin:0;
    padding:0;
    i{
        margin-right:10px;
        float:left;
    }
    span{
        font-size:25px;
        display:inline-block;
        float:left;
        color:#5a5a5a;
    }
}
.video-list{
    padding-left:0;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:17px;
    margin-bottom:30px;
    border-width:1px 0; 
    border-style:solid; 
    border-color:#ccc;
    }
.video-list li{
    //min-height:93px;
    padding-top:17px; 
    padding-bottom:17px; 
    //margin-top:30px;
    &:first-child{
        margin-top:0;
    }
    .inner-wrapper{
            @media (min-width: $screen-sm) {
                position:relative;
                padding-left:200px;
            }
        }
    .fancybox{
        @media (min-width: $screen-sm) {
            position:absolute;
            left:0;
            top:0;
        }      
    }
    .fancybox + strong{
        display:block;
        @media (max-width: $screen-sm) {
            margin-top:10px;
        }
    }
    strong{
            font-weight:400;
            display:block;
            margin-bottom:13px;
            a{
                font-size:16px;
                &:link, &:hover, &:active, &:visited{
                    color:$bostonBlue;
                }
            }
        }
        p{
                font-size:16px;
                font-weight:300;
                color:$tundora;
                margin:0;
            }
}

.page-template-page-templatesvideos_posts-php .left-side-nav{
    @media (min-width: $screen-md) {
        padding-right:20px;
    }
}
.page-template-page-templatesvideos_posts-php .left-side-nav + .col-sm-9{
    @media (min-width: $screen-md) {
        padding-left:56px;
    }
}
.videos-sidebar{
    aside{
        border:1px solid #c9c9c9;
        padding:13px 10px 16px 10px;
        margin-bottom:31px;
    }
    .widget-title{
        text-transform:uppercase;
        font-weight:700;
        margin-bottom:28px;
    }
}
.search-form-ui-wrapper{
    ul{
        position:relative;
    }
}
.sf-field-taxonomy-video_type, .sf-field-taxonomy-solutions, .sf-field-reset{
    display:inline-block !important;
}
.sf-field-taxonomy-video_type, .sf-field-taxonomy-solutions{
    max-width:250px;
}
.sf-field-taxonomy-video_type, .sf-field-taxonomy-solutions{
    margin-top:10px;
    h4{
        margin:0;
        font-size:12px;
        font-weight:400;
        color:#01a161;
    }
}
.sf-field-taxonomy-video_type{
    margin-right:20px !important;
}
.sf-field-taxonomy-solutions{
    margin-right:10px !important;
}
.sf-field-reset a{
    font-size:12px;
    line-height:1em;
    &:link, &:hover, &:active, &:visited{
        color:#01a161;
    }
    &:after{
        content:'x';
        display:inline-block;
        width:16px;
        height:16px;
        text-align:center;
        border:1px solid #01a161;
        border-radius:50%;
        margin-left:5px;
    }
}
.search-form-ui-wrapper{
    .btn-group.bootstrap-select.sf-input-select{
        .filter-option{
            font-size:12px;
        }
    }
    .dropdown-menu{
        .text{
            font-size:12px; 
        }   
    }
    .sf-input-select{
        @extend .form-control;
    }
}
//single video
.related-videos-wrapper{
    .gallery{
        @extend .row;
    }
    .gallery-item{
        @extend .col-sm-6;
        margin-bottom:30px;
        @media (min-width: $screen-sm) {
            margin-bottom:0;
        }
    }
}