/*webinar*/
.page-template-page-templateswebinar-php h2{line-height:1.2em; font-size:18px; padding:30px 0;}
.webinar-social-top{height:20px; position:relative;}
.webinar-social-top strong{font-weight:400; font-size:14px; color:#656565; display:inline-block; padding-right:33px;}
.webinar-social-top span.tw{display:inline-block; height:20px;}
.webinar-social-top span.ln{display:inline-block; margin-left:7px; height:20px; position:absolute; bottom:0;}
.trial-contact-form{min-height:400px; padding:2px; border-radius: 3px; border-width:1px; border-style:solid; border-color:#c2c2c2;}
.presenter-container{margin-bottom:35px; border-bottom:1px solid #ccc; clear:both; padding-top:43px;}
.trial-contact-form h3{background-color:#01a161; font-size:20px; color:#fff; border-radius:3px; text-align:center; padding:17px 0;}
.trial-contact-form{max-width:290px;}
.trial-contact-form .webinar-form-container{text-align:center}

ul.trial-contact-fields{padding:10px; margin:0;}
ul.trial-contact-fields li{list-style-type: none !important; margin:0; padding:0; text-align:left; margin-bottom:15px;}
.trial-contact-form-container .trial-contact-form{padding:0; float:right;}
.trial-contact-form .wpcf7{display:inline-block; padding:29px 0;}
.webinar-button{padding-top:15px;}
.webinar-button input[type="submit"]{color:#fff; text-transform:uppercase; font-size:11px; line-height:1em; letter-spacing:.04em; font-weight:bold; display:inline-block; padding:10px 14px; border-radius:3px; box-shadow: 1px 2px 2px rgba(43, 43, 43, 0.4);}
img.img-rounded.img-polaroid{border:1px solid #c9c9c9; padding:3px;}
.gluu-custom-date{padding-bottom:15px;}