/*
    Site settings
*/

$base-font-size: 16px;
//$font-1: 'Open Sans', sans-serif;

//$font-2: "Helvetica Neue",Helvetica,Arial,sans-serif;
//$font-3: Georgia,Times,"Times New Roman",serif;

$baseline: $base-font-size * 1.5;

/*Colors*/
$color-link: #4183c4;
$color-link-hover: #333;

$color-text:#333;
$color-light-text: #777;

$color-hr: #EEE;

$color-1: #4183c4;
$color-2: #EFEFEF;

$color-validation-error: red;
$color-validation-success: green;

//establish a core color
$core-gray: #333;

//assign core color to semantic variable
$input-disabled-color: $core-gray;

//use semantic variable as assigned to additional semantics
/*$input-disabled-background: lighten($input-disabled-color, 75%);
$input-disabled-border: lighten($input-disabled-color, 50%);
$input-disabled-text: lighten($input-disabled-color, 50%);

input[disabled]{
    background-color: $input-disabled-background;
    border-color: $input-disabled-border;
    color: $input-disabled-text;
}*/

//use map
/*$input: (
    disabled-background lighten($input-disabled-color, 75%),
    disabled-border lighten($input-disabled-color, 50%),
    disabled-text lighten($input-disabled-color, 50%)
);

input[disabled]{
    background-color: map-get($input, disabled-background);
    border-color: map-get($input, disabled-border);
    color: map-get($input, disabled-text);
}*/

/*Positioning*/
$margin-multiplier: 2;

$general-margin: $baseline * $margin-multiplier;