/*
    Utilities
*/

.text-uppercase{
    text-transform:uppercase;
}

.text-left{
    text-align:left;
}

.text-right{
    text-align:right;
}
.text-right-md{
    @media (min-width: $screen-md) {
        text-align:right;   
    }
}
.text-right-sm{
    @media (min-width: $screen-sm) {
        text-align:right;   
    }
}

.text-center{
    text-align:center;
}
.text-center-sm{
    @media (min-width: $screen-sm) {
        text-align:center;
    }
}
.text-center-lsm{
    @media (max-width: $screen-sm) {
        text-align:center;
    }
}
.text-center-lmd{
    @media (max-width: $screen-md) {
        text-align:center;
    }
}

.top-bottom-border{
    border-width:1px 0;
    border-style:solid;
}

.container-offset-top, .container.main.container-offset-top{
    padding-top:144px;
    @media (min-width: $screen-sm) {
        //padding-top:220px;
        padding-top:144px;
    }
}

.container-offset-top-s{
    padding-top:72px;
}

/*even height Boxes with flexbox*/
.row-eq-height{
    @media (max-width: $screen-sm) {
        //overflow:hidden;
        }
    @media (min-width: $screen-sm) {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    }
  .col-eq-height{
      @media (max-width: $screen-sm) {
          float:none;
          }
  }
}
//updated version of flex usage
.row-eq-height-all{
    //@media (min-width: $screen-sm){
        display: flex;
        [class*="col-"]{
            display: flex;
            > div{
                flex: 1;
                max-width:fill-available;
                //min-width:0;
            }
        }
    //}
}
.row-eq-height-sm{
    @media (min-width: $screen-sm){
        display: flex;
        [class*="col-"]{
            display: flex;
            > div{
                flex: 1;
                max-width:fill-available;
                //min-width:0;
            }
        }
    }
}
.row-eq-height-md{
    @media (min-width: $screen-md){
        display: flex;
        [class*="col-"]{
            display: flex;
            > div{
                flex: 1;
                max-width:fill-available;
                //min-width:0;
            }
        }
    }
}

.brxlg br,
.brlg br,
.brsm br,
.brxs br{
    display:none;
}
.brxlg br{
    @media (min-width:$screen-lg){
        display:block;
    }
}
.brlg br{
    @media (min-width:$screen-md){
        display:block;
    }
}
.brsm br{
    @media (min-width:$screen-sm){
        display:block;
    }
}
.brxs br{
    @media (min-width:520px){
        display:block;
    }
}
.inl-bl{
    display:inline-block;
}
@media (min-width: $screen-sm){
    .pull-right-sm{
        float:right !important;
    }
    .pull-left-sm{
        float:left !important;
    }
}

.col-sm-24{
    @media (min-width: $screen-sm) {
        width:20%;
        float:left;
    }
}
.col-md-24{
    @media (min-width: $screen-md) {
        width:20%;
        float:left;
    }
}
.col-lg-24{
    @media (min-width: $screen-lg) {
        width:20%;
        float:left;
    }
}
.center-block-wrap{
    img{
        @extend .center-block;
    }
}